/* Base styles - Mobile first design */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

/* Card styles */
.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px; 
    padding: 1em; /* Space inside the card */
    text-align: center;
    max-width: 375px; /* Width for mobile */
    box-sizing: border-box; 
    margin: 0 1em; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

/* QR Code image styles */
.qr-code {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Slight rounding of the QR code's corners */
}

/* Text styles */
.qr-text {
    color: hsl(220, 15%, 55%)
    margin-top: 0.5em; 
    margin-bottom: 0.5em; 
    font-size: 1.1em; /* Base font size */
    line-height: 1.5; 
}

.qr-text-title {
    color: hsl(218, 44%, 22%);
    margin-top: 0.5em; 
    margin-bottom: 0.5em; 
    font-size: 1.4em; /* Base font size */
    line-height: 1.5; 
    font-weight: bold;
}

.attribution {
    font-size: 0.6em;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: hsl(220, 15%, 55%); 
    background-color: hsl(0, 0%, 100%); 
    padding: 1em; 
  }
  
  .attribution a {
    color: hsl(218, 44%, 22%); 
    text-decoration: none;
  }
  
  .attribution a:hover {
    text-decoration: underline;
  }

  /*--------------------------*/
  /* Desktop specific styles */
  /*------------------------*/

@media (min-width: 1440px) {

    .attribution {
        font-size: 0.7em;
    }
}